
.container{
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin: 10px;
   align-items: center;
   justify-content: center;
}

.menu{
    padding: 5px;
    margin: 20px;
    text-decoration: none;
    color: brown;
    text-transform: capitalize;
    font-size: 28px;
    line-height: 1.6;
}
.button{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input[type="submit"]{
    padding: 8px;
    align-items: center;
    background-color: brown;
    color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}
@media only screen and (max-width: 768px) {
    img {
        height: 60%;
        width: 80%;
    }
}
